<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111550907365-38n1hkli17lopgvc0su79njuaqir6v0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111550907365-38n1hkli17lopgvc0su79njuaqir6v0v</string>
	<key>API_KEY</key>
	<string>AIzaSyB-L2UWWKeUkwVMMUxsyorgm0Cd6PTFsJg</string>
	<key>GCM_SENDER_ID</key>
	<string>111550907365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igorOh.MedDesktop</string>
	<key>PROJECT_ID</key>
	<string>meddesktop</string>
	<key>STORAGE_BUCKET</key>
	<string>meddesktop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111550907365:ios:e264a40968f6a81def650c</string>
</dict>
</plist>